/* Mobile */

@media (max-width: 46.1875em) {
    /* Header */
    #app-header {
        overflow: hidden;
    }
    .app-header__nav-bar {
        width: 100%;
    }
    .app-header__main-nav>li:first-child {
        display: inline-block !important;
    }
    .app-header__main-nav>li {
        display: block;
        float: unset;
    }
    .app-header__main-nav li:hover .app-header__sub-nav {
        display: block;
        position: unset;
        background-color: #222;
    }
    .search-icon {
        display: none !important;
    }
    .bar-icon {
        display: flex !important;
    }
    /* Slider */
    .slider-text {
        display: none !important;
    }
    /* Band */
    .band-team {
        display: block;
    }
    .band-member>p {
        font-size: 20px;
    }
    .band-member>img {
        width: 50%;
    }
    /* TourInfo */
    #tourInfo .tour-places {
        display: block;
        padding: 0px;
    }
    #tourInfo .tour-place-item {
        margin: 32px 8px;
    }
    #tourInfo .tour-place-item .buy-ticket-button {
        width: 100%;
        text-align: center;
        height: 48px;
    }
    /* TicketModal */
    .modal-main {
        min-width: 80%;
    }
    .modal-header {
        padding: 16px !important;
    }
    /* Contact */
    #contact>div,
    .contact-form form>div:first-child {
        display: block;
    }
    .contact-info,
    .contact-form,
    .contact-form button {
        width: 100%;
    }
    .contact-info,
    .contact-form {
        padding: 12px 0px;
    }
    .contact-form button {
        height: 48px;
        margin: 16px 0px;
    }
    .contact-form form .form-input-name,
    .contact-form form .form-input-email {
        margin: 8px 0px;
    }
}