#slider {
    margin-top: var(--header-height);
    padding-top: 50%;
    position: relative;
}

.slider-text {
    font-size: 15px;
    bottom: 0;
    color: #fff;
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}

.slider-text h3 {
    line-height: 36px;
    font-size: 24px;
}

.slider-text p {
    text-shadow: 0 0 4px #000;
}