#ticket-modal {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-main {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    width: 64%;
    background-color: #fff;
    position: relative;
    animation: SlipDown 0.4s;
}

.modal-header {
    color: #fff;
    background-color: #009688;
}

.modal-header h2 {
    text-transform: none;
}

.modal-header h2 i {
    margin-right: 16px;
}

.modal-header__top-right-icon {
    top: 0;
    right: 0;
    position: absolute;
    height: 52px;
    width: 46px;
}

.close-icon {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.modal-content {
    padding: 0.01em 16px;
}

.modal-content input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 1.5;
    margin-bottom: 16px;
}

.modal-content .pay-for-ticket-button {
    background-color: #009688;
    color: #fff;
    width: 100%;
    line-height: 1.5;
    padding: 16px;
    margin: 16px 0px;
    border: none;
    text-transform: uppercase;
}

.modal-content .modal-link {
    display: flex;
    justify-content: flex-end;
}

.modal-content .modal-link a {
    margin-left: 4px;
    color: #2196F3;
}

@keyframes SlipDown {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}